/* https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar */

.scrollbar {
  --scrollbar-size: 10px;
  --scrollbar-thumb-background-color: oklch(100% 0 0 / 0.2);
  --scrollbar-thumb-background-color-active: oklch(100% 0 0 / 0.5);

  &::-webkit-scrollbar {
    width: var(--scrollbar-size);
    height: var(--scrollbar-size);
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    /* hide when not hover */
    /* visibility: hidden; */
    background-color: var(--scrollbar-thumb-background-color);
    background-clip: padding-box;
    border-radius: var(--scrollbar-size);

    border-width: 3px;
    border-style: solid;
    border-color: transparent;

    &:hover,
    &:active {
      border-width: 1px;
      background-color: var(--scrollbar-thumb-background-color-active);
    }
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      /* visibility: visible; */
    }
  }

  &::-webkit-scrollbar-track {
    /* border-radius - scrollbar-size / 2 */
    margin: calc(24px - var(--scrollbar-size) / 2);
  }

  &::-webkit-scrollbar-button,
  &::-webkit-scrollbar-corner {
    display: none;
  }
}