/* https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar */

@property --scrollbar-thumb-color {
  syntax: "<color>";
  inherits: false;
  initial-value: white;
}

@property --scrollbar-margin-block {
  syntax: "<length>+";
  inherits: false;
  initial-value: 0px;
}

@property --scrollbar-margin-inline {
  syntax: "<length>+";
  inherits: false;
  initial-value: 0px;
}

.scrollbar {
  --scrollbar-width: 10px;
  --scrollbar-thumb-width: 4px;

  --scrollbar-track-bg: oklab(100% 0 0 / 0.05);
  --scrollbar-thumb-bg: oklch(100% 0 0 / 0.2);
  --scrollbar-thumb-bg-active: oklch(100% 0 0 / 0.5);
}

@supports selector(::-webkit-scrollbar-thumb) {
  .scrollbar {
    --scrollbar-thumb-color: transparent;

    /* FIXME: 定义在 .scrollbar 上容易和外部的 .transition-colors 冲突导致失效 */
    /* transition 属性在 ::-webkit-scrollbar-thumb 上无效 */
    transition: --scrollbar-thumb-color .2s ease;

    &:is(:hover, :active, :focus, :focus-within) {
      --scrollbar-thumb-color: var(--scrollbar-thumb-bg);
    }

    &::-webkit-scrollbar {
      width: var(--scrollbar-width);
      height: var(--scrollbar-width);
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      --scrollbar-thumb-color: inherit;
      background-color: var(--scrollbar-thumb-color);
      background-clip: padding-box;
      border-style: solid;
      border-color: transparent;

      /* border-radius: <x-radius>/<y-radius> */
      /* x-radius: scrollbar-width / 2 */
      /* y-radius: thumb-width / 2 */
      border-radius: calc(var(--scrollbar-width) / 2) / calc(var(--scrollbar-thumb-width) / 2);
      border-block-width: 0px;
      border-inline-width: calc((var(--scrollbar-width) - var(--scrollbar-thumb-width)) / 2);
    }

    &::-webkit-scrollbar-thumb:horizontal {
      border-radius: calc(var(--scrollbar-thumb-width) / 2) / calc(var(--scrollbar-width) / 2);
      border-block-width: calc((var(--scrollbar-width) - var(--scrollbar-thumb-width)) / 2);
      border-inline-width: 0px;
    }

    &::-webkit-scrollbar-thumb:hover,
    &::-webkit-scrollbar-thumb:active {
      --scrollbar-thumb-width: 8px;
      --scrollbar-thumb-color: var(--scrollbar-thumb-bg-active);
    }

    &::-webkit-scrollbar-track {
      /* 手动 inherit 继承父级变量 */
      --scrollbar-margin-block: inherit;
      --scrollbar-margin-inline: inherit;
      margin-block: var(--scrollbar-margin-block);
      margin-inline: var(--scrollbar-margin-inline);
      border-radius: 9999px;
      background-color: var(--scrollbar-track-bg);
    }

    &::-webkit-scrollbar-button,
    &::-webkit-scrollbar-corner {
      display: none;
    }
  }
}

@supports not selector(::-webkit-scrollbar-thumb) {
  .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: transparent var(--scrollbar-track-bg);
    scrollbar-arrow-color: red;

    transition-property: scrollbar-color;
    transition-duration: 0.2s;
    transition-timing-function: ease;

    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      scrollbar-color: var(--scrollbar-thumb-bg) var(--scrollbar-track-bg);
    }
  }
}