@import "@ziloen/tailwind-config/preset.css" theme(inline);

@theme {
  --font-noto-sans-sc:
    'Noto Sans SC Variable',
    'ui-sans-serif',
    'system-ui',
    'sans-serif',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
  --font-fira-code:
    'Fira Code Variable',
    'ui-monospace',
    'SFMono-Regular',
    'Menlo',
    'Monaco',
    'Consolas',
    'Liberation Mono',
    'Courier New',
    'monospace';
}

@layer base {

  html,
  body,
  #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

#root {
  /* prevent margin collapsing */
  display: flow-root;
  isolation: isolate;
}

html {
  @apply font-sans;
  background-color: light-dark(white, #121212);
  color: light-dark(black, --theme(--color-light-gray-200));

  &,
  &[data-theme="auto"] {
    color-scheme: dark light;
  }

  &[data-theme="dark"] {
    color-scheme: dark;
  }

  &[data-theme="light"] {
    color-scheme: light;
  }
}


/* 在使用 tan(atan2(var(--dividend), var(--divisor))) 实现除法时，在有些浏览器里混用单位会 bug */
/* 所以使用这两个自定义属性将值转换为 px */
/* https://dev.to/janeori/css-type-casting-to-numeric-tanatan2-scalars-582j */
@property --dividend {
  syntax: "<length>";
  initial-value: 1px;
  inherits: false;
}

@property --divisor {
  syntax: "<length>";
  initial-value: 1px;
  inherits: false;
}