@import "@ziloen/tailwind-config/preset.css";

@theme {
  --font-noto-sans-sc:
    'Noto Sans SC Variable',
    'ui-sans-serif',
    'system-ui',
    'sans-serif',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
  --font-fira-code:
    'Fira Code Variable',
    'ui-monospace',
    'SFMono-Regular',
    'Menlo',
    'Monaco',
    'Consolas',
    'Liberation Mono',
    'Courier New',
    'monospace';
}

@layer base {

  html,
  body,
  #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

#root {
  /* prevent margin collapsing */
  display: flow-root;
  isolation: isolate;
}

html {
  @apply font-sans;
  background-color: light-dark(white, #121212);
  color: light-dark(black, --theme(--color-light-gray-200));

  &,
  &[data-theme="auto"] {
    color-scheme: dark light;
  }

  &[data-theme="dark"] {
    color-scheme: dark;
  }

  &[data-theme="light"] {
    color-scheme: light;
  }
}